.navbar {
  width: 100%;
  display: flex;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  .navbar--brand {
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 150%;
    &:hover: {
      text-decoration: underline;
    }
  }
  .navbar--menu {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 1rem;
    .navbar--menu-items {
      display: flex;
    }
  }
}